html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #2196F3;
}

figure {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    max-width: 100%;
}

figcaption p {
    margin: 5px;
    font-style: italic;
    font-size: 0.9em;
}

video {
    margin: 10px 0;
}

.site-wrap {
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.site-header {
    background-color: #2196F3;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 60px; */
}

.site-header a {
    color: white;
    text-decoration: none;
}

.header-title {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.header-nav {
    padding: 10px;
}

.header-nav a {
    margin: 5px;
    height: 25px;
}

.header-nav a:hover {
    border-bottom: 3px white solid;
    height: 22px;
}

.header-button {
    display: none;
    align-self: stretch;
    align-items: center;
    cursor: pointer;
}

.header-button:hover {
    background-color: #333;
}

.header-button i {
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .header-nav {display: none;}
    .header-button {
        display: flex;
    }

    .header-nav.show {
        display: flex;
        flex-direction: column;
    }
  }

footer {
    background-color: #fafafa;
    color: #7a7a7a;
    border-top: thin solid #f3f3f3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    display: flex;
    justify-content: center;
}

.site-content {
    width: 80%;
    max-width: 800px;
}

.post {
    padding: 20px;
    border-bottom: thin solid #dedede;
}

.post-link {
    color: inherit;
}

.post p {
    margin: 0;
}

.post h3 {
    font-size: 1.5em;
    margin: 0.2em 0;
    /* margin-bottom: 0;
    margin-top: 0; */
}

.post-header {
    padding-bottom: 10px;
    border-bottom: thin solid #dedede;
}

.post-title {
    display: flex;
    align-items: baseline;
}

.post-title i {
    margin: 10px;
    color: #2196F3;
}

.post-header h1 {
    margin-bottom: 0;
}

.post-meta {
    font-size: 0.9em;
    color: #7a7a7a;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.post-meta a {
    display: block;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #dedede;
}

.post-meta a:hover {
    background-color: #c5c5c5;
}

.post-summary {
    font-size: 0.9em;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }