
{{ partial "head.html" . }}
<div class="site-wrap">
    {{ partial "header.html" . }}
    {{ if isset .Site.Params "description" }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <div class="page-container" role="main">
        <div class="site-content">
            {{ block "main" . }} {{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}