{{ define "main" }}

  <h1>{{ .Title | humanize }}</h1>
  <ul>
      {{ range .Pages.ByDate.Reverse }}
          <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> ({{ .Date.Format "Jan 2" }})</li>
      {{ end }}
  </ul>
{{ end }}