{{ define "main" }}
  {{ $baseurl := .Site.BaseURL }}
  <h1 id="title">{{ .Title }}</h1>
   {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <a href="{{ $baseurl }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name | humanize }} </a> {{ $value.Count }} <br>
    {{ end }}
{{ end }}