
{{ define "main" }}
            <div class="post-header">
              <div class="post-title">
                <h1>{{ .Title }}</h1>
                {{ if isset .Params "link" }} {{ if len .Params.link }}
                  <a href="{{ .Params.link }}" target="_blank">
                    <i class="material-icons">insert_link</i>
                  </a>
                {{ end }} {{ end }}
                <div>

                </div>
              </div>
              
              <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }} {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}</span>
              {{ if isset .Params "summary" }}
                <p>
                  {{ .Summary }}
                </p>
              {{ end }}
              
              {{ $baseurl := .Site.BaseURL }}
              {{ if isset .Params "tags" }} {{ if len .Params.tags }}
              <p class="post-meta">{{ i18n "tags" }}
                {{ range $i, $e := .Params.tags }}
                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </p>
              {{ end }}{{ end }}
            </div>
      
            <article class="post-content">
            {{ .Content }}
            </article>
{{ end }}
