<div class="post">
  <a class="post-link" href="{{ .Permalink }}">
    <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</p>
    {{ if isset .Params "author" }}<p class="post-author">{{ i18n "written" }} {{ .Params.author }}</p>{{ end }}
    <h3>{{ .Title }} {{ if .Draft }}(draft){{end}}</h3>
    {{ if isset .Params "summary" }}<p class="post-summary">{{ .Summary }}</p>{{ end }}
  </a>
  {{ $baseurl := .Site.BaseURL }}
  {{ if isset .Params "tags" }} {{ if len .Params.tags }}
    <div class="post-meta">{{ i18n "tags" }}
      {{ range $i, $e := .Params.tags }}
          <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}{{ end }}
</div>
