    <footer class="footer">
      <div>
      {{ partial "social_links.html" . }}
          <small>
            Powered by <a href="http://gohugo.io/" target="_blank">Hugo</a> </a>
          </small>
      </div>
    </footer>
    {{ $baseurl := .Site.BaseURL }}

    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="{{ $baseurl }}/js/main.js"></script>

</body>
{{ partial "katex.html" . }}
</html>
