<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  {{ $baseurl := .Site.BaseURL }}
  <base href="{{ $baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ $baseurl }}/css/main.css">

  <link rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/atom-one-light.min.css">

</head>
<body class="">
