<header class="site-header">


  <div class="header-title">
    <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}" class="site-title">{{ .Site.Title }}</a>
  </div>
  <nav class="header-nav" id="nav-links">
    {{ partial "navigation.html" . }}
  </nav>
  <div class="header-button" onclick="showMenu()">
    <i class="material-icons">menu</i>
  </div>
</header>
