
{{ define "main" }}
<div class="posts">
    {{ if isset .Site.Params "paginate" }}
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) .Site.Params.paginate }}
        {{ range $paginator.Pages.ByDate.Reverse }}
            {{ .Render "summary" }}
        {{ end }}
</div>
<div class="pagination_area">
            {{ partial "pagination.html" . }}
</div>
    {{ else }}
        {{ range first 10 .Site.RegularPages.ByDate.Reverse }}
            {{ if eq .Type "posts" }}
                {{ .Render "summary"}}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}

